src/main/resources/cleaned/schemas.ppsr.gov.au.notifications.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.ppsr.gov.au/notifications" elementFormDefault="qualified" targetNamespace="http://schemas.ppsr.gov.au/notifications" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CollateralDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreAssetsSubjectToControl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AreProceedsClaimed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Attachments" nillable="true" type="tns:ArrayOfAttachmentDetail" />
      <xs:element name="CollateralClassType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CollateralDescription" nillable="true" type="xs:string" />
      <xs:element name="CollateralType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsInventory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsPMSI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProceedsClaimedDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerialNumberDetails" nillable="true" type="tns:SerialisedCollateralDescription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CollateralDetails" nillable="true" type="tns:CollateralDetails" />
  <xs:complexType name="ArrayOfAttachmentDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttachmentDetail" nillable="true" type="tns:AttachmentDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttachmentDetail" nillable="true" type="tns:ArrayOfAttachmentDetail" />
  <xs:complexType name="AttachmentDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttachmentDescription" nillable="true" type="xs:string" />
      <xs:element name="AttachmentFileName" nillable="true" type="xs:string" />
      <xs:element name="IsMigratedAttachment" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttachmentDetail" nillable="true" type="tns:AttachmentDetail" />
  <xs:complexType name="SerialisedCollateralDescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalAircraftDetails" nillable="true" type="tns:AdditionalAircraftCollateralDescription" />
      <xs:element minOccurs="0" name="AdditionalVehicleDetails" nillable="true" type="tns:AdditionalVehicleCollateralDescription" />
      <xs:element name="SerialNumber" nillable="true" type="xs:string" />
      <xs:element name="SerialNumberType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SerialisedCollateralDescription" nillable="true" type="tns:SerialisedCollateralDescription" />
  <xs:complexType name="AdditionalAircraftCollateralDescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="AircraftNationality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AircraftNationalityCodeAndRegistrationMark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManufacturersModel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManufacturersName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdditionalAircraftCollateralDescription" nillable="true" type="tns:AdditionalAircraftCollateralDescription" />
  <xs:complexType name="AdditionalVehicleCollateralDescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="VehicleDescriptiveText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleRegistrationNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdditionalVehicleCollateralDescription" nillable="true" type="tns:AdditionalVehicleCollateralDescription" />
  <xs:complexType name="NotificationMessageBase">
    <xs:sequence>
      <xs:element name="Environment" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NotificationMessageBase" nillable="true" type="tns:NotificationMessageBase" />
  <xs:complexType name="WebUserCreatedType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NotificationMessageBase">
        <xs:sequence>
          <xs:element name="Password" nillable="true" type="xs:string" />
          <xs:element name="Username" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebUserCreatedType" nillable="true" type="tns:WebUserCreatedType" />
  <xs:complexType name="VerificationStatementChangeOfSecuredPartyGroupType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NotificationMessageBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AffectedCollateralRegistrations" nillable="true" type="tns:ArrayOfAffectedCollateralRegistration" />
          <xs:element name="NewSecuredPartyGroup" nillable="true" type="tns:NewSecuredPartyGroupForTransferAll" />
          <xs:element name="OriginalSecuredPartyGroup" nillable="true" type="tns:OriginalSecuredPartyGroupForTransferAll" />
          <xs:element name="SecuredPartyGroupChangedTime" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VerificationStatementChangeOfSecuredPartyGroupType" nillable="true" type="tns:VerificationStatementChangeOfSecuredPartyGroupType" />
  <xs:complexType name="ArrayOfAffectedCollateralRegistration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AffectedCollateralRegistration" nillable="true" type="tns:AffectedCollateralRegistration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAffectedCollateralRegistration" nillable="true" type="tns:ArrayOfAffectedCollateralRegistration" />
  <xs:complexType name="AffectedCollateralRegistration">
    <xs:sequence>
      <xs:element minOccurs="0" name="GivingOfNoticeIdentifier" nillable="true" type="xs:string" />
      <xs:element name="IsAccessRestricted" type="xs:boolean" />
      <xs:element minOccurs="0" name="NewChangeNumber" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="OldChangeNumber" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="RegistrationChangeTime" nillable="true" type="xs:dateTime" />
      <xs:element name="RegistrationNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AffectedCollateralRegistration" nillable="true" type="tns:AffectedCollateralRegistration" />
  <xs:complexType name="NewSecuredPartyGroupForTransferAll">
    <xs:sequence>
      <xs:element name="AddressForService" nillable="true" type="tns:AddressForService" />
      <xs:element name="SecuredParties" nillable="true" type="tns:ArrayOfSecuredPartyWithVerificationStatus" />
      <xs:element name="SecuredPartyGroupNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewSecuredPartyGroupForTransferAll" nillable="true" type="tns:NewSecuredPartyGroupForTransferAll" />
  <xs:complexType name="AddressForService">
    <xs:sequence>
      <xs:element minOccurs="0" name="Addressee" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="B2GAccountCustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="B2GAccountCustomerNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaxNumber" nillable="true" type="xs:string" />
      <xs:element name="MailingAddress" nillable="true" type="tns:Address" />
      <xs:element minOccurs="0" name="PhysicalAddress" nillable="true" type="tns:Address" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressForService" nillable="true" type="tns:AddressForService" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISO3166CountryCode" nillable="true" type="xs:string" />
      <xs:element name="Line1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Line2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Line3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Locality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Postcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="ArrayOfSecuredPartyWithVerificationStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SecuredPartyWithVerificationStatus" nillable="true" type="tns:SecuredPartyWithVerificationStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSecuredPartyWithVerificationStatus" nillable="true" type="tns:ArrayOfSecuredPartyWithVerificationStatus" />
  <xs:complexType name="SecuredPartyWithVerificationStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Individual" nillable="true" type="tns:SecuredPartyIndividual" />
      <xs:element minOccurs="0" name="Organisation" nillable="true" type="tns:SecuredPartyOrganisationWithVerificationStatus" />
      <xs:element name="SecuredPartyType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecuredPartyWithVerificationStatus" nillable="true" type="tns:SecuredPartyWithVerificationStatus" />
  <xs:complexType name="SecuredPartyIndividual">
    <xs:sequence>
      <xs:element name="FamilyName" nillable="true" type="xs:string" />
      <xs:element name="GivenNames" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecuredPartyIndividual" nillable="true" type="tns:SecuredPartyIndividual" />
  <xs:complexType name="SecuredPartyOrganisationWithVerificationStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrganisationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganisationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganisationNumberType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganisationNumberVerificationStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecuredPartyOrganisationWithVerificationStatus" nillable="true" type="tns:SecuredPartyOrganisationWithVerificationStatus" />
  <xs:complexType name="OriginalSecuredPartyGroupForTransferAll">
    <xs:sequence>
      <xs:element name="AddressForService" nillable="true" type="tns:AddressForService" />
      <xs:element name="SecuredParties" nillable="true" type="tns:ArrayOfSecuredPartyWithVerificationStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OriginalSecuredPartyGroupForTransferAll" nillable="true" type="tns:OriginalSecuredPartyGroupForTransferAll" />
  <xs:complexType name="TransferCollateralRegistrationCompletedType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NotificationMessageBase">
        <xs:sequence>
          <xs:element name="SecuredPartyGroupNumberFrom" nillable="true" type="xs:string" />
          <xs:element name="SecuredPartyGroupNumberTo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TransferCollateralRegistrationCompletedType" nillable="true" type="tns:TransferCollateralRegistrationCompletedType" />
  <xs:complexType name="StolenDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="StolenSummary" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StolenDetail" nillable="true" type="tns:StolenDetail" />
  <xs:complexType name="AmendedAdditionalAircraftCollateralDescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="AircraftNationality" nillable="true" type="tns:AmendedStringField" />
      <xs:element minOccurs="0" name="AircraftNationalityCodeAndRegistrationMark" nillable="true" type="tns:AmendedStringField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AmendedAdditionalAircraftCollateralDescription" nillable="true" type="tns:AmendedAdditionalAircraftCollateralDescription" />
  <xs:complexType name="AmendedStringField">
    <xs:sequence>
      <xs:element minOccurs="0" name="NewStringValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OldStringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AmendedStringField" nillable="true" type="tns:AmendedStringField" />
  <xs:complexType name="SecuredPartyGroupAccessCodeType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NotificationMessageBase">
        <xs:sequence>
          <xs:element name="SecuredPartyGroupAccessCode" nillable="true" type="xs:string" />
          <xs:element name="SecuredPartyGroupNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SecuredPartyGroupAccessCodeType" nillable="true" type="tns:SecuredPartyGroupAccessCodeType" />
  <xs:complexType name="SecuredPartyGroupAccessCodeResetType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SecuredPartyGroupAccessCodeType">
        <xs:sequence>
          <xs:element name="SecuredPartyGroupAccessCodeResetDateTime" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SecuredPartyGroupAccessCodeResetType" nillable="true" type="tns:SecuredPartyGroupAccessCodeResetType" />
  <xs:complexType name="VerificationStatementRegistrationAmendedType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NotificationMessageBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AmendmentDetail" nillable="true" type="tns:AmendmentDetail" />
          <xs:element minOccurs="0" name="CollateralRegistration" nillable="true" type="tns:CollateralRegistrationForVerificationStatement" />
          <xs:element name="RegistrationAmendedTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="RestrictedAccessDetail" nillable="true" type="tns:RestrictedAccessDetail" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VerificationStatementRegistrationAmendedType" nillable="true" type="tns:VerificationStatementRegistrationAmendedType" />
  <xs:complexType name="AmendmentDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddedAttachments" nillable="true" type="tns:ArrayOfAttachmentDetail" />
      <xs:element minOccurs="0" name="AddedGrantors" nillable="true" type="tns:ArrayOfGrantorWithVerificationStatus" />
      <xs:element minOccurs="0" name="AdditionalAircraftDetails" nillable="true" type="tns:AmendedAdditionalAircraftCollateralDescription" />
      <xs:element minOccurs="0" name="AdditionalVehicleDetails" nillable="true" type="tns:AmendedAdditionalVehicleCollateralDescription" />
      <xs:element minOccurs="0" name="AreProceedsClaimed" nillable="true" type="tns:AmendedExtendedBooleanField" />
      <xs:element minOccurs="0" name="CollateralDescription" nillable="true" type="tns:AmendedStringField" />
      <xs:element minOccurs="0" name="GivingOfNoticeIdentifier" nillable="true" type="tns:AmendedStringField" />
      <xs:element minOccurs="0" name="IsSubordinate" nillable="true" type="tns:AmendedBooleanField" />
      <xs:element minOccurs="0" name="ProceedsClaimedDescription" nillable="true" type="tns:AmendedStringField" />
      <xs:element minOccurs="0" name="RegistrationEndTime" nillable="true" type="tns:AmendedDateTimeField" />
      <xs:element minOccurs="0" name="RemovedAttachments" nillable="true" type="tns:ArrayOfAttachmentDetail" />
      <xs:element minOccurs="0" name="RemovedGrantors" nillable="true" type="tns:ArrayOfGrantor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AmendmentDetail" nillable="true" type="tns:AmendmentDetail" />
  <xs:complexType name="ArrayOfGrantorWithVerificationStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GrantorWithVerificationStatus" nillable="true" type="tns:GrantorWithVerificationStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGrantorWithVerificationStatus" nillable="true" type="tns:ArrayOfGrantorWithVerificationStatus" />
  <xs:complexType name="GrantorWithVerificationStatus">
    <xs:sequence>
      <xs:element name="GrantorType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Individual" nillable="true" type="tns:GrantorIndividual" />
      <xs:element minOccurs="0" name="Organisation" nillable="true" type="tns:GrantorOrganisationWithVerificationStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GrantorWithVerificationStatus" nillable="true" type="tns:GrantorWithVerificationStatus" />
  <xs:complexType name="GrantorIndividual">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfBirth" nillable="true" type="xs:dateTime" />
      <xs:element name="FamilyName" nillable="true" type="xs:string" />
      <xs:element name="GivenNames" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GrantorIndividual" nillable="true" type="tns:GrantorIndividual" />
  <xs:complexType name="GrantorOrganisationWithVerificationStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrganisationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganisationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganisationNumberType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganisationNumberVerificationStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GrantorOrganisationWithVerificationStatus" nillable="true" type="tns:GrantorOrganisationWithVerificationStatus" />
  <xs:complexType name="AmendedAdditionalVehicleCollateralDescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="VehicleDescriptiveText" nillable="true" type="tns:AmendedStringField" />
      <xs:element minOccurs="0" name="VehicleRegistrationNumber" nillable="true" type="tns:AmendedStringField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AmendedAdditionalVehicleCollateralDescription" nillable="true" type="tns:AmendedAdditionalVehicleCollateralDescription" />
  <xs:complexType name="AmendedExtendedBooleanField">
    <xs:sequence>
      <xs:element minOccurs="0" name="NewBooleanValue" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="OldExtendedBooleanValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AmendedExtendedBooleanField" nillable="true" type="tns:AmendedExtendedBooleanField" />
  <xs:complexType name="AmendedBooleanField">
    <xs:sequence>
      <xs:element minOccurs="0" name="NewBooleanValue" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="OldBooleanValue" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AmendedBooleanField" nillable="true" type="tns:AmendedBooleanField" />
  <xs:complexType name="AmendedDateTimeField">
    <xs:sequence>
      <xs:element minOccurs="0" name="NewDateTimeValue" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OldDateTimeValue" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AmendedDateTimeField" nillable="true" type="tns:AmendedDateTimeField" />
  <xs:complexType name="ArrayOfGrantor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Grantor" nillable="true" type="tns:Grantor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGrantor" nillable="true" type="tns:ArrayOfGrantor" />
  <xs:complexType name="Grantor">
    <xs:sequence>
      <xs:element name="GrantorType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Individual" nillable="true" type="tns:GrantorIndividual" />
      <xs:element minOccurs="0" name="Organisation" nillable="true" type="tns:GrantorOrganisation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Grantor" nillable="true" type="tns:Grantor" />
  <xs:complexType name="GrantorOrganisation">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrganisationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganisationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganisationNumberType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GrantorOrganisation" nillable="true" type="tns:GrantorOrganisation" />
  <xs:complexType name="CollateralRegistrationForVerificationStatement">
    <xs:sequence>
      <xs:element name="AddressForService" nillable="true" type="tns:AddressForService" />
      <xs:element name="CollateralDetails" nillable="true" type="tns:CollateralDetails" />
      <xs:element minOccurs="0" name="Grantors" nillable="true" type="tns:ArrayOfGrantor" />
      <xs:element minOccurs="0" name="NevdisVerification" nillable="true" type="tns:NevdisData" />
      <xs:element name="RegistrationDetails" nillable="true" type="tns:RegistrationDetails" />
      <xs:element name="SecuredParties" nillable="true" type="tns:ArrayOfSecuredPartyWithVerificationStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CollateralRegistrationForVerificationStatement" nillable="true" type="tns:CollateralRegistrationForVerificationStatement" />
  <xs:complexType name="NevdisData">
    <xs:sequence>
      <xs:element minOccurs="0" name="NevdisVehicles" nillable="true" type="tns:ArrayOfNevdisVehicle" />
      <xs:element name="VerificationStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NevdisData" nillable="true" type="tns:NevdisData" />
  <xs:complexType name="ArrayOfNevdisVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NevdisVehicle" nillable="true" type="tns:NevdisVehicle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNevdisVehicle" nillable="true" type="tns:ArrayOfNevdisVehicle" />
  <xs:complexType name="NevdisVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" name="StolenDetails" nillable="true" type="tns:ArrayOfStolenDetail" />
      <xs:element name="VehicleDetail" nillable="true" type="tns:NevdisVehicleDetail" />
      <xs:element name="VehicleIdentifier" nillable="true" type="tns:NevdisVehicleIdentifier" />
      <xs:element minOccurs="0" name="WrittenOffDetails" nillable="true" type="tns:ArrayOfWrittenOffDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NevdisVehicle" nillable="true" type="tns:NevdisVehicle" />
  <xs:complexType name="ArrayOfStolenDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StolenDetail" nillable="true" type="tns:StolenDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStolenDetail" nillable="true" type="tns:ArrayOfStolenDetail" />
  <xs:complexType name="NevdisVehicleDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Jurisdiction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JurisdictionParticipation" type="xs:boolean" />
      <xs:element minOccurs="0" name="Registration" nillable="true" type="tns:NevdisRegistration" />
      <xs:element minOccurs="0" name="VehicleDescription" nillable="true" type="tns:NevdisVehicleDescription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NevdisVehicleDetail" nillable="true" type="tns:NevdisVehicleDetail" />
  <xs:complexType name="NevdisRegistration">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExpiryDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlateNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NevdisRegistration" nillable="true" type="tns:NevdisRegistration" />
  <xs:complexType name="NevdisVehicleDescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="BodyType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Colour" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ComplianceYearMonth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EngineNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Make" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManufactureYear" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NevdisVehicleDescription" nillable="true" type="tns:NevdisVehicleDescription" />
  <xs:complexType name="NevdisVehicleIdentifier">
    <xs:sequence>
      <xs:element name="IdentifierType" nillable="true" type="xs:string" />
      <xs:element name="IdentifierValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NevdisVehicleIdentifier" nillable="true" type="tns:NevdisVehicleIdentifier" />
  <xs:complexType name="ArrayOfWrittenOffDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WrittenOffDetail" nillable="true" type="tns:WrittenOffDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWrittenOffDetail" nillable="true" type="tns:ArrayOfWrittenOffDetail" />
  <xs:complexType name="WrittenOffDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="WrittenOffSummary" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WrittenOffDetail" nillable="true" type="tns:WrittenOffDetail" />
  <xs:complexType name="RegistrationDetails">
    <xs:sequence>
      <xs:element name="ChangeNumber" type="xs:long" />
      <xs:element minOccurs="0" name="EarlierRegistrationNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GivingOfNoticeIdentifier" nillable="true" type="xs:string" />
      <xs:element name="IsMigrated" type="xs:boolean" />
      <xs:element name="IsSubordinate" type="xs:boolean" />
      <xs:element name="IsTransitional" type="xs:boolean" />
      <xs:element minOccurs="0" name="MigrationDetail" nillable="true" type="tns:MigrationDetail" />
      <xs:element name="RegistrationChangeTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RegistrationEndTime" nillable="true" type="xs:dateTime" />
      <xs:element name="RegistrationKind" nillable="true" type="xs:string" />
      <xs:element name="RegistrationNumber" nillable="true" type="xs:string" />
      <xs:element name="RegistrationStartTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegistrationDetails" nillable="true" type="tns:RegistrationDetails" />
  <xs:complexType name="MigrationDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="OriginalStartDate" type="xs:dateTime" />
      <xs:element name="SourceRegister" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MigrationDetail" nillable="true" type="tns:MigrationDetail" />
  <xs:complexType name="RestrictedAccessDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="RegistrationEndTime" nillable="true" type="xs:dateTime" />
      <xs:element name="RegistrationNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RestrictedAccessDetail" nillable="true" type="tns:RestrictedAccessDetail" />
  <xs:complexType name="TransactionReceiptType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NotificationMessageBase">
        <xs:sequence>
          <xs:element name="EmailAddress" nillable="true" type="xs:string" />
          <xs:element name="TransactionID" nillable="true" type="xs:string" />
          <xs:element name="TransactionReceiptLabelType" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TransactionReceiptType" nillable="true" type="tns:TransactionReceiptType" />
  <xs:complexType name="QuickVINSearchResultDisplayFlags">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsPnlGoodToGoVisible" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPnlMultipleNevdisVisible" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPnlMultipleRegistrationsVisible" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPnlNevdisNotAvailableVisible" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPnlNevdisNotStolenVisible" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPnlNevdisNotWrittenOffVisible" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPnlNevdisStolenSingleVisible" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPnlNevdisStolenVisible" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPnlNevdisWrittenOffSingleVisible" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPnlNevdisWrittenOffVisible" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPnlNoNevdisVisible" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPnlNoPPSRRegistrationVisible" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPnlSingleNevdisVisible" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPnlSingleRegistrationVisible" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuickVINSearchResultDisplayFlags" nillable="true" type="tns:QuickVINSearchResultDisplayFlags" />
  <xs:complexType name="RegistrationTokensResetType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NotificationMessageBase">
        <xs:sequence>
          <xs:element name="NewSecuredPartyGroupNumber" nillable="true" type="xs:string" />
          <xs:element name="ResetTokens" nillable="true" type="tns:ArrayOfRegistrationTokenResetType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegistrationTokensResetType" nillable="true" type="tns:RegistrationTokensResetType" />
  <xs:complexType name="ArrayOfRegistrationTokenResetType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RegistrationTokenResetType" nillable="true" type="tns:RegistrationTokenResetType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRegistrationTokenResetType" nillable="true" type="tns:ArrayOfRegistrationTokenResetType" />
  <xs:complexType name="RegistrationTokenResetType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RegistrationTokenType">
        <xs:sequence>
          <xs:element name="RegistrationTokenResetDateTime" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegistrationTokenResetType" nillable="true" type="tns:RegistrationTokenResetType" />
  <xs:complexType name="RegistrationTokenType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NotificationMessageBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="GivingOfNoticeIdentifier" nillable="true" type="xs:string" />
          <xs:element name="RegistrationNumber" nillable="true" type="xs:string" />
          <xs:element name="RegistrationToken" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegistrationTokenType" nillable="true" type="tns:RegistrationTokenType" />
  <xs:complexType name="AlertNotificationType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NotificationMessageBase">
        <xs:sequence>
          <xs:element name="AlertNotificationRequestName" nillable="true" type="xs:string" />
          <xs:element name="AlertNotificationRequestNumber" nillable="true" type="xs:string" />
          <xs:element name="AlertNotificationRequestOrganisationListItems" nillable="true" type="tns:ArrayOfAlertNotificationRequestOrganisationListItem" />
          <xs:element name="EmailAddress" nillable="true" type="xs:string" />
          <xs:element name="NotificationDate" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AlertNotificationType" nillable="true" type="tns:AlertNotificationType" />
  <xs:complexType name="ArrayOfAlertNotificationRequestOrganisationListItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlertNotificationRequestOrganisationListItem" nillable="true" type="tns:AlertNotificationRequestOrganisationListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlertNotificationRequestOrganisationListItem" nillable="true" type="tns:ArrayOfAlertNotificationRequestOrganisationListItem" />
  <xs:complexType name="AlertNotificationRequestOrganisationListItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrganisationName" nillable="true" type="xs:string" />
      <xs:element name="OrganisationNumber" nillable="true" type="xs:string" />
      <xs:element name="OrganisationNumberTypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlertNotificationRequestOrganisationListItem" nillable="true" type="tns:AlertNotificationRequestOrganisationListItem" />
  <xs:complexType name="AlertNotificationAlertType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AlertNotificationType">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AlertNotificationAlertType" nillable="true" type="tns:AlertNotificationAlertType" />
  <xs:complexType name="AddressForServiceChangeCompletedType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NotificationMessageBase">
        <xs:sequence>
          <xs:element name="SecuredPartyGroupNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddressForServiceChangeCompletedType" nillable="true" type="tns:AddressForServiceChangeCompletedType" />
  <xs:complexType name="VerificationStatementChangeOfSecuredPartyGroupSingleType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NotificationMessageBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CollateralDetails" nillable="true" type="tns:CollateralDetails" />
          <xs:element minOccurs="0" name="Grantors" nillable="true" type="tns:ArrayOfGrantor" />
          <xs:element minOccurs="0" name="NevdisVerification" nillable="true" type="tns:NevdisData" />
          <xs:element name="NewSecuredPartyGroup" nillable="true" type="tns:SecuredPartyGroupForTransferSingle" />
          <xs:element name="OriginalSecuredPartyGroup" nillable="true" type="tns:SecuredPartyGroupForTransferSingle" />
          <xs:element minOccurs="0" name="RegistrationDetails" nillable="true" type="tns:RegistrationDetails" />
          <xs:element minOccurs="0" name="RestrictedAccessDetail" nillable="true" type="tns:RestrictedAccessDetail" />
          <xs:element name="SecuredPartyGroupChangedTime" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VerificationStatementChangeOfSecuredPartyGroupSingleType" nillable="true" type="tns:VerificationStatementChangeOfSecuredPartyGroupSingleType" />
  <xs:complexType name="SecuredPartyGroupForTransferSingle">
    <xs:sequence>
      <xs:element name="AddressForService" nillable="true" type="tns:AddressForService" />
      <xs:element name="SecuredParties" nillable="true" type="tns:ArrayOfSecuredPartyWithVerificationStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SecuredPartyGroupForTransferSingle" nillable="true" type="tns:SecuredPartyGroupForTransferSingle" />
  <xs:complexType name="PasswordResetType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NotificationMessageBase">
        <xs:sequence>
          <xs:element name="Password" nillable="true" type="xs:string" />
          <xs:element name="Username" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PasswordResetType" nillable="true" type="tns:PasswordResetType" />
  <xs:complexType name="SecuredPartyGroupAccessCodeIssuedType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SecuredPartyGroupAccessCodeType">
        <xs:sequence>
          <xs:element name="SecuredPartyGroupAccessCodeIssuedDateTime" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SecuredPartyGroupAccessCodeIssuedType" nillable="true" type="tns:SecuredPartyGroupAccessCodeIssuedType" />
  <xs:complexType name="CollateralRegistrationForCreatedVerificationStatement">
    <xs:sequence>
      <xs:element name="AddressForService" nillable="true" type="tns:AddressForService" />
      <xs:element name="CollateralDetails" nillable="true" type="tns:CollateralDetails" />
      <xs:element minOccurs="0" name="Grantors" nillable="true" type="tns:ArrayOfGrantorWithVerificationStatus" />
      <xs:element minOccurs="0" name="NevdisVerification" nillable="true" type="tns:NevdisData" />
      <xs:element name="RegistrationDetails" nillable="true" type="tns:RegistrationDetails" />
      <xs:element name="SecuredParties" nillable="true" type="tns:ArrayOfSecuredPartyWithVerificationStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CollateralRegistrationForCreatedVerificationStatement" nillable="true" type="tns:CollateralRegistrationForCreatedVerificationStatement" />
  <xs:complexType name="RegistrationTokenIssuedType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RegistrationTokenType">
        <xs:sequence>
          <xs:element name="RegistrationTokenIssuedDateTime" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RegistrationTokenIssuedType" nillable="true" type="tns:RegistrationTokenIssuedType" />
  <xs:complexType name="VerificationStatementRegistrationRemovedType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NotificationMessageBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CollateralRegistration" nillable="true" type="tns:CollateralRegistrationForVerificationStatement" />
          <xs:element name="RegistrationRemovedTime" type="xs:dateTime" />
          <xs:element name="RemovalReasonDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RestrictedAccessDetail" nillable="true" type="tns:RestrictedAccessDetail" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VerificationStatementRegistrationRemovedType" nillable="true" type="tns:VerificationStatementRegistrationRemovedType" />
  <xs:complexType name="VerificationStatementRegistrationDischargedType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NotificationMessageBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CollateralRegistration" nillable="true" type="tns:CollateralRegistrationForVerificationStatement" />
          <xs:element name="RegistrationDischargedTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="RestrictedAccessDetail" nillable="true" type="tns:RestrictedAccessDetail" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VerificationStatementRegistrationDischargedType" nillable="true" type="tns:VerificationStatementRegistrationDischargedType" />
  <xs:complexType name="ReportCompletedType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NotificationMessageBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Expiry" nillable="true" type="xs:dateTime" />
          <xs:element name="ReportFileName" nillable="true" type="xs:string" />
          <xs:element name="ReportFilePageCount" type="xs:int" />
          <xs:element name="ReportFileSizeInBytes" type="xs:int" />
          <xs:element minOccurs="0" name="ReportName" nillable="true" type="xs:string" />
          <xs:element name="ReportNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReportCompletedType" nillable="true" type="tns:ReportCompletedType" />
  <xs:complexType name="AlertNotificationRequestCreatedType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AlertNotificationType">
        <xs:sequence>
          <xs:element name="EndDate" nillable="true" type="xs:string" />
          <xs:element name="StartDate" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AlertNotificationRequestCreatedType" nillable="true" type="tns:AlertNotificationRequestCreatedType" />
  <xs:complexType name="AlertNotificationRequestAmendType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AlertNotificationType">
        <xs:sequence>
          <xs:element name="ChangeDate" nillable="true" type="xs:string" />
          <xs:element name="EndDate" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AlertNotificationRequestAmendType" nillable="true" type="tns:AlertNotificationRequestAmendType" />
  <xs:complexType name="AlertNotificationRequestListItem">
    <xs:sequence>
      <xs:element name="AlertNotificationRequestEndDate" nillable="true" type="xs:string" />
      <xs:element name="AlertNotificationRequestName" nillable="true" type="xs:string" />
      <xs:element name="AlertNotificationRequestNumber" nillable="true" type="xs:string" />
      <xs:element name="AlertNotificationRequestStartDate" nillable="true" type="xs:string" />
      <xs:element name="EmailAddress" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlertNotificationRequestListItem" nillable="true" type="tns:AlertNotificationRequestListItem" />
  <xs:complexType name="SecuredPartyGroupNumberType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NotificationMessageBase">
        <xs:sequence>
          <xs:element name="SecuredPartyGroupNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SecuredPartyGroupNumberType" nillable="true" type="tns:SecuredPartyGroupNumberType" />
  <xs:complexType name="AlertNotificationRequestExpiryReminderType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AlertNotificationType">
        <xs:sequence>
          <xs:element name="EndDate" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AlertNotificationRequestExpiryReminderType" nillable="true" type="tns:AlertNotificationRequestExpiryReminderType" />
  <xs:complexType name="AlertNotificationRequestListType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AlertNotificationType">
        <xs:sequence>
          <xs:element name="AlertNotificationRequestListItems" nillable="true" type="tns:ArrayOfAlertNotificationRequestListItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AlertNotificationRequestListType" nillable="true" type="tns:AlertNotificationRequestListType" />
  <xs:complexType name="ArrayOfAlertNotificationRequestListItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlertNotificationRequestListItem" nillable="true" type="tns:AlertNotificationRequestListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlertNotificationRequestListItem" nillable="true" type="tns:ArrayOfAlertNotificationRequestListItem" />
  <xs:complexType name="SecuredPartyGroupAccessCodeChangedType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SecuredPartyGroupAccessCodeType">
        <xs:sequence>
          <xs:element name="SecuredPartyGroupAccessCodeChangedDateTime" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SecuredPartyGroupAccessCodeChangedType" nillable="true" type="tns:SecuredPartyGroupAccessCodeChangedType" />
  <xs:complexType name="QuickVINSearchType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NotificationMessageBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AttachmentCount" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="EmailBodyMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GoodToGoMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MultipleNevdisRecordMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MultiplePpsrRecordMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NevdisNotAvailableMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NoNevdisRecordMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NoPpsrRecordMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NoStolenNevdisRecordMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NoWrittenOffNevdisRecordMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReceiptNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchCertificateId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="SearchCertificateNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchConductedDateTime" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SearchResultDisplayFlags" nillable="true" type="tns:QuickVINSearchResultDisplayFlags" />
          <xs:element minOccurs="0" name="SearchResultExpiryTime" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SingleNevdisRecordMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SinglePpsrRecordMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SingleStolenNevdisRecordMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SingleWrittenOffNevdisRecordMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StolenNevdisRecordMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionStatementId" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="WrittenOffNevdisRecordMessage" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QuickVINSearchType" nillable="true" type="tns:QuickVINSearchType" />
  <xs:complexType name="VerificationStatementRegistrationCreatedType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NotificationMessageBase">
        <xs:sequence>
          <xs:element name="CollateralRegistration" nillable="true" type="tns:CollateralRegistrationForCreatedVerificationStatement" />
          <xs:element name="RegistrationCreatedTime" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VerificationStatementRegistrationCreatedType" nillable="true" type="tns:VerificationStatementRegistrationCreatedType" />
  <xs:complexType name="AlertNotificationRequestCancelType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AlertNotificationType">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AlertNotificationRequestCancelType" nillable="true" type="tns:AlertNotificationRequestCancelType" />
  <xs:complexType name="AlertNotificationRequestOrganisationListType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AlertNotificationType">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AlertNotificationRequestOrganisationListType" nillable="true" type="tns:AlertNotificationRequestOrganisationListType" />
  <xs:complexType name="VerificationStatementChangeOfAddressForServiceType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NotificationMessageBase">
        <xs:sequence>
          <xs:element name="AddressForServiceChangedTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="AffectedCollateralRegistrations" nillable="true" type="tns:ArrayOfAffectedCollateralRegistration" />
          <xs:element name="NewAddressForService" nillable="true" type="tns:AddressForService" />
          <xs:element name="OldAddressForService" nillable="true" type="tns:AddressForService" />
          <xs:element name="SecuredParties" nillable="true" type="tns:ArrayOfSecuredPartyWithVerificationStatus" />
          <xs:element name="SecuredPartyGroupNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VerificationStatementChangeOfAddressForServiceType" nillable="true" type="tns:VerificationStatementChangeOfAddressForServiceType" />
  <xs:complexType name="CriticalNoticeType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:NotificationMessageBase">
        <xs:sequence>
          <xs:element name="CriticalNoticeId" type="xs:int" />
          <xs:element name="EffectiveFromDateTime" type="xs:dateTime" />
          <xs:element name="EffectiveToDateTime" type="xs:dateTime" />
          <xs:element name="Message" nillable="true" type="xs:string" />
          <xs:element name="Title" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CriticalNoticeType" nillable="true" type="tns:CriticalNoticeType" />
</xs:schema>